<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'my_form' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="btn-primary" type="submit" value="Submit">
</form>
</body>
</html>