{% extends "base.html" %}
{% block content %}
   <table class="table">
    <tr>
      <th>pk</th>
      <th>name</th>
      <th>price</th>
      <th>category</th>
    </tr>
    {% for product in products %}
     <tr>
       <td>{{product.pk}}</td>
         <td><a href="{% url 'product_detail' product.pk %}" >{{product.name}}</a></td>
       <td>{{product.price}}</td>
       <td>{{product.category}}</td>
     </tr>
    {% endfor %}
   </table>
{% endblock %}