{% extends 'base.html' %}
{% block content %}
 <p>PK: {{ product.pk }}</p>
 <p>Name: {{ product.name }}</p>
 <p>Price: {{ product.price }}</p>
 <p>Category: {{ product.category.name }}</p>
 <img style="max-width:198px"  src="{{ product.image}}" alt="">
 <br />
 <a href="{% url 'product_update' product.pk %}">
 Update product
 </a>
 <a href="{% url 'product_delete' product.pk %}">
 Delete product
 </a>
{% endblock %}
